body{
    font-family: Arial, sans-serif;
    background: #34225c;
}

.contenedor{
    width: 350px;
    margin: 50px auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px gray;
}

h2{
    text-align: center;
}

label{
    display: block;
    margin-top: 10px;
}

input{
    width: 100%;
    padding: 8px;
    margin-top: 5px;
}

button{
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    background: blue;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover{
    background: darkblue;
}

#mensaje{
    text-align: center;
    margin-top: 15px;
    color: green;
    font-weight: bold;
}
